body {
    font-family: Arial, sans-serif;
    background-color: #fff5ee;
    /* margin: 0; */
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .app-container {
    text-align: left;
    width: 100%;
    max-width: 1000px;
    background-color: #f8f8f8;
    border-radius: 15px;
    border: 2px solid black;
    padding: 40px;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: #333;
    margin-top: 0;
  }
  h2{
    margin-top: 5px;
  }
  
  .task-board {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
  }
  
  .task-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: calc(33% - 17px);
    min-height: 250px;
    position: relative;
    background-color: #fdf2b3;
    box-sizing: border-box;
    word-wrap: break-word; /* Add this */
    overflow-wrap: break-word; /* Add this */
    cursor: pointer;
  }
  /* .task-box::after {
    content: "Double-click to remove task";
    position:absolute;
    bottom: 20px;
    color: #d92c0e;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  } */
   /* Style for the delete "X" button */
.delete-button {
  position: absolute;
  top: 14px;
  right: 7px;
  color: #aaa;
  cursor: pointer;
  font-weight: 500;
  font-family: initial;
  /* letter-spacing: revert-layer; */
  float: right;
  font-size: 36px;
  /* opacity: 0; */
}
.delete-button:hover,
  .delete-button:focus {
    color: rgba(0, 0, 0, 0.466);
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
  }

  .task-box:hover::after {
    opacity: 1; /* Shows the tooltip on hover */
  }
  
  
/* Color cycle for task boxes */
.task-box:nth-child(4n+1) {
  background-color: #fdf2b3; /* Yellow */
}

.task-box:nth-child(4n+2) {
  background-color: #d1eaed; /* Light Blue */
}

.task-box:nth-child(4n+3) {
  background-color: #ffdada; /* Light Pink */
}

.task-box:nth-child(4n+4) {
  background-color: #ffd4a9; /* Light Orange */
}
  
  .task-box h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 5px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .add-task-box {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    cursor: pointer;
    width: calc(33% - 17px);
    min-height: 250px;
    box-sizing: border-box;
  }
  
  .add-task-box:hover {
    background-color: #d3d3d3;
  }
  
  .plus-sign {
    font-size: 90px;
    font-weight: 100;
    letter-spacing: revert-layer;
    font-family: initial;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .savetaskbtn {
    background-color:#297c54;
    padding: 10px 20px;
    font-size: 14px;
    color: #efffff;
    border-radius: 5px;
    /* font-weight: 500; */
    border: transparent;
    max-width: 120px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .task-item {
    margin-bottom: 10px;
    color: #000000;
    line-height: 1.5;
    /* text-align: justify; */
    word-wrap: break-word; /* Add this */
    overflow-wrap: break-word; /* Add this */
    white-space: normal; /* Ensures text wraps correctly */
  }
  
  /* .task-footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
  } */
  /* #taskModal {
    display: none;
  } */
  
  .modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color:#f0f5f0;
    position: relative;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  
  .close-button {
 font-weight: 100;
 font-family: initial;
    /* margin-top:15px; */
    position: absolute;
    top: 15px;
    right:18px;
    color: #aaa;
    float: right;
    font-size: 36px;
  }
  
  .close-button:hover,
  .close-button:focus {
  color: rgba(0, 0, 0, 0.466);;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Media Queries for different screen sizes */
  @media (max-width: 1024px) {
    .task-box,
    .add-task-box {
      width: calc(33% - 18px); /* Adjusted for the gap */
    }
  }
  
  @media (max-width: 800px) {
    .task-box,
    .add-task-box {
      width: calc(50% - 15px);
    }
    
  }
  @media (max-width: 768px) {

    /* .task-box::after {
      content: "Double-tap to remove task";
        opacity: 1;
      } */
  }
  
  @media (max-width: 580px) {
    .task-box,
    .add-task-box {
      width: 100%;
    }
  
    h1 {
      font-size: 35px;
    }
    .app-container {
      padding: 25px;
    }
    .task-box::after {
        opacity: 1;
      }
  }
